# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp

# Virtualenv
env/
venv/
.venv/
*.egg-info/
.Python

# Django
db.sqlite3
/staticfiles/
media/

# VSCode
.vscode/

# IDE
.idea/
*.sublime-project
*.sublime-workspace

# System
.DS_Store
Thumbs.db